In [3]:
# !pip install tqdm # if you face issue related to tqdm
import pyodbc
import pandas as pd
from tqdm import tqdm_notebook as tqdm


# fill the database cred here
SERVER = '*'
DATABASE = '*'
USERNAME = '*'
PASSWORD = '*'

In [4]:
def get_azure_database_connection(server,database,username,password):
    """
    This function will return an aws conn object for azure SQl Server database.
    return : AWS connection object
    """
    cnxn = None
    try:
        cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
        return cnxn
        
    except Exception as e:
        print(e)

In [8]:
df = pd.read_sql('Select * from ipl_matches',get_azure_database_connection(SERVER,DATABASE,USERNAME,PASSWORD))

In [9]:
df.head()

,match_id,ground,team_1,team_2,winner,match_date,match_year,match_month,match_day,win_mode,margin,toss_winner,toss_decision
0,1,Cape Town,Chennai Super Kings,Mumbai Indians,Mumbai Indians,2009-04-18,2009,4,18,Runs,19,Chennai Super Kings,elected to field first
1,2,Cape Town,Royal Challengers Bangalore,Rajasthan Royals,Royal Challengers Bangalore,2009-04-18,2009,4,18,Runs,75,Royal Challengers Bangalore,elected to bat first
2,3,Cape Town,Delhi Capitals,Kings XI Punjab,Delhi Capitals,2009-04-19,2009,4,19,Wickets,10,Delhi Capitals,elected to field first
3,4,Cape Town,Deccan Chargers,Kolkata Knight Riders,Deccan Chargers,2009-04-19,2009,4,19,Wickets,8,Kolkata Knight Riders,elected to bat first
4,5,Port Elizabeth,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,2009-04-20,2009,4,20,Runs,92,Chennai Super Kings,elected to bat first