In [0]:
DATA_SOURCE = "./ipl-analytics/raw/"
DATA_DEST = "./ipl-analytics/final/"

In [0]:
import pandas as pd
import numpy as np
import datetime
pd.options.display.max_columns = 100
pd.options.display.max_rows = 500

In [0]:
df_bowling = pd.read_csv(DATA_SOURCE+'ipl_bowling.csv')

In [26]:
df_bowling.head(10)

,match_no,match_city,year,month,day,team_1,team_2,bowler,O,M,R,W,ECON,zeros,fours,sixes,WD,NB
0,1,Cape Town,2009,April,18,Mumbai Indians,Mumbai Indians,MS Gony,4.0,0,32,2,8.00,7,4,0,1,0
1,1,Cape Town,2009,April,18,Mumbai Indians,Mumbai Indians,T Thushara,4.0,0,32,1,8.00,9,5,0,0,0
2,1,Cape Town,2009,April,18,Mumbai Indians,Mumbai Indians,A Flintoff,4.0,0,44,1,11.00,6,3,3,0,0
3,1,Cape Town,2009,April,18,Mumbai Indians,Mumbai Indians,JDP Oram,4.0,0,30,1,7.50,9,5,0,0,0
4,1,Cape Town,2009,April,18,Mumbai Indians,Mumbai Indians,Joginder Sharma,4.0,0,25,1,6.25,6,2,0,0,0
5,1,Cape Town,2009,April,18,Mumbai Indians,Mumbai Indians,SL Malinga,4.0,0,15,3,3.75,15,1,0,2,0
6,1,Cape Town,2009,April,18,Mumbai Indians,Mumbai Indians,Z Khan,4.0,0,34,0,8.50,7,3,1,0,0
7,1,Cape Town,2009,April,18,Mumbai Indians,Mumbai Indians,DJ Bravo,4.0,0,27,1,6.75,13,1,2,1,0
8,1,Cape Town,2009,April,18,Mumbai Indians,Mumbai Indians,RR Raje,1.0,0,15,0,15.00,0,3,0,0,0
9,1,Cape Town,2009,April,18,Mumbai Indians,Mumbai Indians,Harbhajan Singh,3.0,0,15,1,5.00,8,0,1,0,0

In [27]:
df_bowling['month'].unique()

array(['April', 'May', 'June', 'March', 'Apr', 'Jun'], dtype=object)

In [0]:
month_dict = {'April':4, 'May':5, 'June':6, 'March':3, 'Apr':4, 'Jun':6}

In [0]:
df_bowling['month'] = df_bowling['month'].apply(lambda x : month_dict[x])

In [0]:
def create_date(col):
    if col['day'] != '27-28':
        return datetime.date(int(col['year']),int(col['month']),int(col['day']))
    else:
        return '---'

In [0]:
df_bowling['match_date'] = df_bowling.apply(create_date,axis = 1)

In [0]:
df_bowling.drop(['match_city','year','month','day'],axis=1,inplace=True)

In [34]:
df_bowling.head()

,match_no,team_1,team_2,bowler,O,M,R,W,ECON,zeros,fours,sixes,WD,NB,match_date
0,1,Mumbai Indians,Mumbai Indians,MS Gony,4.0,0,32,2,8.00,7,4,0,1,0,2009-04-18
1,1,Mumbai Indians,Mumbai Indians,T Thushara,4.0,0,32,1,8.00,9,5,0,0,0,2009-04-18
2,1,Mumbai Indians,Mumbai Indians,A Flintoff,4.0,0,44,1,11.00,6,3,3,0,0,2009-04-18
3,1,Mumbai Indians,Mumbai Indians,JDP Oram,4.0,0,30,1,7.50,9,5,0,0,0,2009-04-18
4,1,Mumbai Indians,Mumbai Indians,Joginder Sharma,4.0,0,25,1,6.25,6,2,0,0,0,2009-04-18

In [0]:
df_bowling.to_csv(DATA_DEST+'ipl_bowling.csv',index=False)