In [0]:
DATA_SOURCE = "./ipl-analytics/raw/"
DATA_DEST = "./ipl-analytics/final/"

In [0]:
import pandas as pd
import numpy as np
import datetime
pd.options.display.max_columns = 100
pd.options.display.max_rows = 500

In [0]:
df_summary = pd.read_csv(DATA_SOURCE+'ipl_summary.csv')

In [4]:
df_summary.head(10)

,Abbrev,Lost,N/R,Played,Short Name,Team,Won,year
0,CSK,7,0,16,Chennai,Chennai Super Kings,9,2008.0
1,DCH,12,0,14,Deccan,Deccan Chargers,2,2008.0
2,DDV,7,0,14,Delhi,Delhi Daredevils,7,2008.0
3,KXI,5,0,15,Punjab,Kings XI Punjab,10,2008.0
4,KKR,7,0,13,Kolkata,Kolkata Knight Riders,6,2008.0
5,MIN,7,0,14,Mumbai,Mumbai Indians,7,2008.0
6,RRO,3,0,16,Rajasthan,Rajasthan Royals,13,2008.0
7,RCB,10,0,14,Bangalore,Royal Challengers Bangalore,4,2008.0
8,CSK,6,0,14,Chennai,Chennai Super Kings,8,2009.0
9,DCH,7,0,16,Deccan,Deccan Chargers,9,2009.0

In [0]:
df_summary.to_csv(DATA_DEST+'ipl_summary.csv',index=False)